

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
}

html, body { max-width: 100%; overflow-x: hidden; }

 .affix {
      top: 0;
      width: 100%
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }


a:hover {
    text-decoration: none;  
}

/****** MENU *********/

/* The side navigation menu */
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0px !important; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a:not(.closebtn) {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    font-size: 25px;
    color: #333333;
    display: block;
    transition: height width padding 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav .menu-item {
    transition: all 0.2s;
}

.sidenav .menu-item:hover, .offcanvas a:focus{
    color: #ffffff;
    background-color: orange;
    
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: orange;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 480px) {
    .sidenav {padding: 0px; width: 0 !important; height: 0 !important}
    .sidenav a {font-size: 18px;}
}



/*****************/


.menu-menu button {
    border: none;
    padding: 5px
}

.logo {
    padding: 10px 0px;
    max-width: 100%;
    max-height: 100%;
}

.row-with-height {
    height: 110px;
}



.search-bar-col, .logo-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-col {
    justify-content: center;
}

.search-bar {
    border-color: orange;
    border-style: solid;
    border-radius: 20px;
    box-shadow: none;
    padding: 10px 10px 10px 20px;
    color: orange;
    width: 60%;
}

.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: orange;
text-transform: uppercase;
}

.header-divider {
    background-color: orange;
    z-index: 9999;
    margin-top: 0px
}

.menu-container {
    position: relative;
    height: 50px;
}

.menu-row {
    height: 50px;
}

.menu-social {
    padding: 15px;
}

.menu-menu {
    text-align: center;
    padding: 5px;
}
.menu-menu button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: orange;
    font-weight: bold;
}

    .cart-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    background-color: #9f9f9f;
    height: 75px;
    width: 75px;
    z-index: 1000;
    box-shadow: 3px 3px 5px #888888;
    border-radius: 50%;
    transition: all 0.5s;
}
        
        .cart-box:hover {
        height: 85px;
        width: 85px;
        background-color: #bfbfbf;
        }
        
        
        .cart-box i {
            font-size: 20px;
        }
        
        .cart-box p {
            font-size: 13px;
            padding-top: 5px;
            margin: 0;
        }


.menu-menu i {
    color: #ffffff;
    font-size: 20px;
    height: 100%;
}

.hero.jumbotron {
    position: relative;
    height: 70vh;
    padding-bottom: 150px;
    background-attachment: fixed;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  /* set height to pixels if you want angle to change with screen width */
}

.jumbotron {
    padding: 0;
}

.hero.container, .hero.row {
    height: inherit;
}

.hero-cta {
    height: 100%;
    padding: 20px;
    text-align: center;
}

.hero-cta h1 {
    margin-top: 15%;
}

.hero-cta h5 {
    font-size: 16px;
    padding: 10px 10px 30px 10px;
}

.hero-cta button {
    padding: 15px;
}

.hero-btn-1 {
    background-color: #ffffff;
    border: 2px solid orange;
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

.hero-btn-1:hover {
    background-color: orange;
    color: #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.hero-btn-2 {
    background-color: orange;
    border: 2px solid orange;
    color: #ffffff;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-btn-2:hover {
    background-color: white;
    color: orange;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.hero-col {
    height: inherit;
}

.hero-col button {
    margin-top: 45%
}


.menu-items {
    text-align: center;
}

.menu-social {
    text-align: left;
    padding-left: 20px; 
}

.menu-square {
    background-color: lightgray;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;
    margin-top: 30px;      
}


.big-four {
    padding-bottom: 40px;
}

.sale-products {
    margin-top: 250px;
    background-color: #f6f6f6;
    position: relative;
}

.standard-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-color: orange;
    color: #ffffff;
    margin-top: -125px;
    width: 90%;
    margin-left: 5%;
    padding: 0 20px;
    text-align: center;
    box-shadow: 5px 5px 20px #888888;
}

.bottom-header {
    margin-bottom: -125px;
}

.sale-products-header h2 {
    text-transform: uppercase;
}

.sale-items {
    margin-top: 75px;
}

.special-home {
    margin-top: 50px;
}

.special-home-last {
    margin-bottom: 150px;
}

.testimonials-slider {
    margin-top: 200px;
    margin-bottom: 500px;
}


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    
    .row-with-height {
    height: 180px;
}    
            .logo-menu {
    height: 180px;
}
    
    .menu-menu {
    text-align: center;
}
        
    .logo-section {
    justify-content: flex-start;
        }
        
    .search-bar-col {
    justify-content: flex-end;
        }
    
    .search-bar {
    width: 200px;
}    
        
        .standard-header {
            width: 60%;
            margin-left: 20%;
        }
        
        .hidden-md {
            display: none;
        }
        

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }







.spacer {
    height: 1000px;
}



