

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 0px;
    padding-bottom: 0px;
}

html, body { max-width: 100%; overflow-x: hidden; }

 .affix {
      top: 0;
      width: 100%
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }


a:hover {
    text-decoration: none;  
}

/****** MENU *********/

/* The side navigation menu */
.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0px !important; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a:not(.closebtn) {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    font-size: 25px;
    color: #333333;
    display: block;
    transition: height width padding 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav .menu-item {
    transition: all 0.2s;
}

.sidenav .menu-item:hover, .offcanvas a:focus{
    color: #ffffff;
    background-color: #A4B8D0;
    
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: #A4B8D0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 480px) {
    .sidenav {padding: 0px; width: 0 !important; height: 0 !important}
    .sidenav a {font-size: 18px;}
}



/*****************/


.menu-menu button {
    border: none;
    padding: 5px
}

.logo {
    padding: 10px 0px;
    max-width: 100%;
    max-height: 100%;
}

.row-with-height {
    height: 110px;
}

.navbar {
    margin:0;
    border: none;
    min-height: 40px;
}

.category-menu {
    text-align: center;
    margin-bottom: 0;
}

.category-menu a {
    color: #333333;
}

.first-level-li {
    display: inline-block;
    margin-left: -4px;
    background-image: linear-gradient(#ffffff, #ffffff);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
    text-transform: uppercase;
    font-size: 13px;
    color: #333333;
}

.first-level-li, .first-level-li a {
    padding: 15px;
}

.dropdown:hover > .dropdown-menu {
display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
display: block;
}

.dropdown-menu {
    top: 95%;
    border-radius: 0;
    border: none;
    min-width: 100px;
    padding: 0;
}

.dropdown-menu li a, .dropdown-submenu li a {
    padding: 18px 30px;
    margin: 0;
}

.dropdown-menu>li>a:hover {
    background-image: none;
    background-color: #A4B8D0;
    color: white;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}


.category-menu li:hover {
   background-size: 100% 100%;
  color: #A4B8D0;
    transition: background-size .5s, color .5s;  
}
.search-bar-col, .logo-section, .selling-points {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-col {
    justify-content: center;
}

.search-bar {
    border-color: #A4B8D0;
    border-style: solid;
    border-radius: 20px;
    box-shadow: none;
    padding: 10px 10px 10px 20px;
    color: #A4B8D0;
    width: 60%;
}

.selling-list li {
    display: inline-block;
    margin-right: 10px;
}

.selling-list i {
    padding: 5px;
    font-size: 14px;
    color: #333333;
}

.search-bar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A4B8D0;
text-transform: uppercase;
}

.header-divider {
    background-color: #A4B8D0;
    z-index: 9999;
    margin-top: 0px;
    border-radius: 0;
}

.menu-container {
    position: relative;
}



.menu-menu {
    text-align: center;
    padding: 5px;
}
.menu-menu button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #A4B8D0;
    font-weight: bold;
}

    .cart-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    background-color: #9f9f9f;
    height: 75px;
    width: 75px;
    z-index: 1000;
    box-shadow: 3px 3px 5px #888888;
    border-radius: 50%;
    transition: all 0.5s;
}
        
        .cart-box:hover {
        height: 85px;
        width: 85px;
        background-color: #bfbfbf;
        }
        
        
        .cart-box i {
            font-size: 20px;
        }
        
        .cart-box p {
            font-size: 13px;
            padding-top: 5px;
            margin: 0;
        }


.menu-menu i {
    color: #ffffff;
    font-size: 20px;
    height: 100%;
}

.hero.jumbotron {
    position: relative;
    height: 80vh;
    padding-bottom: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(blue-flowers.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
}

.hero svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  /* set height to pixels if you want angle to change with screen width */
}

.jumbotron {
    padding: 0;
    margin-bottom: 0; 
}

.hero.container, .hero.row {
    height: inherit;
}

.hero-cta {
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.hero-cta h1 {
    margin-top: 15%;
}

.hero-cta h5 {
    font-size: 16px;
    padding: 10px 10px 30px 10px;
}

.hero-cta button {
    padding: 15px;
}

.hero-btn-1 {
    background-color: #ffffff;
    border: 2px solid #F99190;
    color: #F99190;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

.hero-btn-1:hover {
    background-color: #F99190;
    color: #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.hero-btn-2 {
    background-color: #F99190;
    border: 2px solid #F99190;
    color: #ffffff;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-btn-2:hover {
    background-color: white;
    color: #F99190;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 10px #888888;
}

.hero-col {
    height: inherit;
}

.hero-col button {
    margin-top: 45%
}

.under-hero {
    background-color: #f6f6f6;
    /*background-image: url(fragrance-minimal.png);*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.under-hero img {
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 110px;
    text-align: center;
}

.menu-square {
    background-color: lightgray;
    width: 100%;
    margin-left: 0%;
    padding-top: 80%;     
}


.menu-square.special-home {
    position: relative;
    padding-top: 0px;
    margin-top: 100px;
    background-color: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.menu-square.special-home img {
    max-width: 100%;
    max-height: 100%;
}


.price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px 5px 25px;
    background-color: #2c2c2c;
    color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    z-index: 1000;
}

.product-name {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px 30px 10px 10px;
    color: #ffffff;
    background-color: #2c2c2c;
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0 100%);
    z-index: 1000;
}

.product-overlay {
   position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.6);
    opacity: 0;
    transition: all ease 0.5s;
}


.product-overlay:hover {
    opacity: 100;
}

.product-overlay p {
    padding: 0 25px;
    color: white;
}

.product-overlay button {
    width: 60%;
    padding: 4px;
    border: none;
    margin-bottom: 3px;
    border-radius: 5px;
    transition: linear 0.1s;
}

.product-overlay button:hover {
    transform: scale(1.05);
}

.cart-btn {
    background-color: #F99190;
    border-radius: 5px;
    width: 60%;
    color: #ffffff;
}

.info-btn {
    color: #333333;
}


.big-four {
    padding-bottom: 40px;
}


.category-products {
    background-color: #ffffff;
    position: relative;
}

.newsletter-sign-up {
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(succulent.jpg);
    background-size: cover;
    background-attachment: fixed; /*Custom Config*/
    position: relative;
}

.newsletter-text h3 {
    color: #ffffff;
    z-index: 9999;
}

.newsletter-sign-up .top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  /* set height to pixels if you want angle to change with screen width */
}

.newsletter-sign-up .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  /* set height to pixels if you want angle to change with screen width */
}

.newsletter-text {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sale-products {
    position: relative;
}

.category-grid {
    padding: 0 10%;
    margin-bottom: 0px;
}

.category-grid, .sale-grid {
    padding: 0 10%;
}

.standard-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-color: #ffffff;
    color: #333333;
    margin-top: -125px;
    width: 100%;
    margin-left: 0%;
    padding: 0 20px;
    text-align: center;
    box-shadow: 5px 5px 20px #888888;
}

.bottom-header {
    margin-bottom: -125px;
}

.category-products-header h2 {
    text-transform: uppercase;
}

.sale-items {
    margin-top: 75px;
}

.special-home {
    margin-top: 50px;
}

.special-home-last {
    margin-bottom: 100px;
}

section.sale-products {
    background-color: #f6f6f6;
}


.bx-wrapper img {
    width: 100%;
}

footer {
    position: relative;
    background-color: #333333;
    color: #ffffff;
    
}

footer svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15vh;
  /* set height to pixels if you want angle to change with screen width */
}

.footer-content {
    padding-top: 15vh;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    
    .row-with-height {
    height: 180px;
}    
            .logo-menu {
    height: 180px;
}
    
    .menu-menu {
    text-align: center;
}
        
    .logo-section {
    justify-content: flex-start;
        }
        
    .search-bar-col {
    justify-content: flex-end;
        }
    
    .search-bar {
    width: 280px;
}    
        
        .standard-header {
            width: 40%;
            margin-left: 30%;
        }
        
        .hidden-md {
            display: none;
        }
        
        .menu-square {
    background-color: lightgray;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;     
}
        

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }







.spacer {
    height: 1000px;
}





